 #maincont{       /*  container background is created by using UI gradient */
    background-color: #3b8d99;
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); 

}
 #topcont{                      /*     top container */
    max-width: 100vw;
    grid-gap: 20px;
    display: grid;
    grid-template: 'a a a a'
                   'a a a a'
                   'b b c c'
                   'b b c c'
                   'd d e e'
                   'd d e e'
                   'd d f f'
                   'd d f f';
   
}

#div1{
    grid-area: a;
   }
#div2{
    grid-area: b;
}
#div3{
    grid-area: c;
}
#div4{
    grid-area: d;
}
#div5{
    grid-area: e;
}
#div6{
    grid-area: f;
}
img{
    width: 400px;
    height: 300px;
  
}
 #middle{                         /* middle part and form structure */
 padding-top: 20px;
 width: 400px;
 height: 400px;
 margin: auto;
}
#middle>form{
    align-items: center;
    padding-left: 30px;
}
input{
    margin: 10px;
    /* padding: 5px 10px; */
}
.maindiv {
    display: inline-block;
    width: 110px;
  }

  #div4{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF4uT78_t9bUtcyTPhQ6Sjg1d7bQIXTmUMUA&usqp=CAU');
  }
  